/* Global styles */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	margin-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.smoothie {
	margin: 20px;
	padding: 20px;
	text-align: center;
	background-color: #f8f8f8;
	border-radius: 10px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	width: 280px;
}



.smoothie h3 {
	margin: 0;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.smoothie p {
	margin: 10px 0;
	font-size: 18px;
	color: #666;
}

.sizes {
	display: flex;
	justify-content: center;
}

.size-button {
	margin: 5px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ddd;
	color: #333;
	cursor: pointer;
}

.nutrition-button {
	margin-top: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	background-color: #ddd;
	color: #333;
	cursor: pointer;
  
}

/* CSS styles for the nutrition label container */
.hidden-nutrition {
  border: 1px solid black;
  transform: translateY(-50%);
  animation: slideDown 1s ease-in-out forwards;
  z-index: 0; /* position the options behind the cart item */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  object-fit: cover;
  display: flex; /* make the cart-item a flex container */
  flex-direction: column; /* align its children vertically */
  font-size: 12px;
  max-width:210px;
  vertical-align: middle; /* align the radio buttons and checkboxes with the text */
}

/* CSS styles for the nutrition label nutrient names */
.nutrition-info p:nth-child(even) {
  font-weight: bold;
  margin: 0;
}

/* CSS styles for the nutrition label nutrient values */
.nutrition-info p:nth-child(odd) {
  margin: 0;
}

/* CSS styles for the nutrition label title */
.nutrition-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

/* CSS styles for the nutrition label serving size */
.nutrition-info .serving-size {
  margin-top: 5px;
  font-style: italic;
}

/* CSS styles for the nutrition label footnote */
.nutrition-info .footnote {
  font-size: 10px;
  margin-top: 10px;
  text-align: center;
}

.nutrition-info p {
  position: relative;
}

.percent-dv {
  position: absolute;
  right: 0;
}

.serving-size-line {
  border-top: 3px solid black;
  margin-bottom: 10px;
}

.name-underline {
  border-top: 2px solid black;
  width:60px;
  margin-bottom:0px;
}

/* CSS styles for the nutrition label button */
.info-button {
  cursor: pointer;
  font-size: 12px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  background-color: #4caf50;
  color: white;
  border: none;

  text-align: center;
  text-decoration: none;
  width: 75px;
  height:50px;

  font-size: 14px;

  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  left: 10;
  top: 325;

}

.info-button:hover {
  background-color: #208524;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.info-button:active {
  background-color: #224e24;
  animation-name: button-click;
  animation-duration: 0.4s;
}

/* Navbar styles */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.navbar .left, .navbar .middle, .navbar .right {
	display: flex;
	align-items: center;
}

.navbar .left {
	margin-left: 20px;
}

.navbar .left a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.navbar .left img {
	height: 30px;
	margin-right: 5px;
}

.navbar .middle {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

.navbar .middle img {
	height: 40px;
}

.navbar .right {
	margin-right: 20px;
}

.navbar .right a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

.navbar .right img {
	height: 30px;
	margin-right: 5px;
}

.navbar .right .cart-count {
	background-color: #333;
	color: #fff;
	padding: 5px;
	border-radius: 50%;
	font-size: 16px;
	margin-left: 5px;
}

.size-button.active {
    background-color: green;
    color: white;
}

.sizes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizes button.nutrition-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.sizes button.nutrition-button:hover
{
  background-color: #998e41;
}


.sizes button.add-to-cart-button {
  background-color: #3944BC;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.add-to-cart-button:hover {
  background-color: #0000FF;
}
.add-to-cart-button {
  background-color: #3944BC;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 75px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  right: 10;
  top: 325;
  transition: all 0.2s ease-in-out;
}

.sizes button.add-to-cart-button:hover {
  background-color: #0000FF;
}

.add-to-cart-button:active {
  transform: translateY(2px);
  animation-name: button-click;
  animation-duration: 0.4s;
}

/* define the button-click animation */
@keyframes button-click {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.cart {
  position: relative;
}

.cart-image {
  width: 50px;
  margin-top: 0px;
}

.smoothie-image {

  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.cart-item {
  position: relative;
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
  min-height: 300px;
  background-color: #f8f8f8;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  animation: scaleUpAndDown 0.5s ease-in-out;
  display: flex; /* make the cart-item a flex container */
  flex-direction: column; /* align its children vertically */
  z-index: 1;
}

.for-sale-item {
  position: relative;
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 30px;
  background-color: #f8f8f8;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  animation: scaleUpAndDown 0.5s ease-in-out;
  display: flex; /* make the cart-item a flex container */
  flex-direction: column; /* align its children vertically */
  z-index: 1;
}

@keyframes scaleUpAndDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.cart-item-removed {
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.cart-item.move-up {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.cart-item.move-down {
  transform: translateY(100%);
  transition: all 0.3s ease-in-out;
}

.cart-list {
  padding-bottom: 60px; /* adjust the value to your preference */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-item img {
	width: 120px;
	height: 120px;
    object-fit: cover;
    margin: 0 auto 0px auto; /* set vertical margin to 0 and horizontal margin to auto */
  display: block;
  max-width: 100%;
    border-radius: 50%;
    z-index: 10;
    margin-top: 0px;
}

.trash-can img{
  width: 40;
	height: 40;
}

.trash-can{
  background-color: #3944BC;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 75px;
  height: 50px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  right: 10;
  top: 325;
  transition: all 0.2s ease-in-out;
}

.animateAddToCartImage {
  width: 120px;
	height: 120px;
    object-fit: cover;
    margin: 0 auto 0px auto; /* set vertical margin to 0 and horizontal margin to auto */
  display: block;
  max-width: 100%;
    border-radius: 50%;
    z-index: 10;
    animation-name: move-to-cart-count;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 9999;
  position: fixed;
}

@keyframes shrink-and-move {
  0% {
    width: 120px;
    height: 120px;
    transform: none;
  }
  100% {
    width: 60px;
    height: 60px;
    transform: translate(0, 0);
    top: 0;
    left: 0;
  }
}

@keyframes move-to-cart-count {
  0% {
    transform: translate(0, 0);
  }
  100% {
    width: 30px;
    height: 30px;
    transform: translateX(calc(var(--cart-count-x) - var(--item-x))) translateY(calc(var(--cart-count-y) - var(--item-y)));
  }
}

.cart-item {
  position: relative;
  /* Set the width of the cart item */
  width: 200px; 
  height: 325; 
}

.cart-item .item-name {
position: relative;
font-weight: bold;
color: #262e31;
font-size: 22px;
text-align: center;
letter-spacing: 0.05em;
margin-bottom: 0px; /* decrease the bottom margin */
} 

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* border: 2px solid rgb(195, 200, 201); */
  position: relative;
  /* background-color: #f3fcff; */
  width: 200px;
  height: 60px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.cart-item .item-size {
color: 	#707070;
position: relative;
font-weight: bold;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
}

.cart-item .item-price {
    color: 	#707070;
position: relative;
font-weight: bold;
text-align: center;
margin-top: 5;
margin-bottom: 2px;
}

.cart-item .size-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 5;
  /* border: 2px solid rgb(195, 200, 201); */
  position: relative;
  /* background-color: #f3fcff; */
  font-weight: bold;
  text-align: center;
}

.cart-item .item-description {
  margin-top: 0px;
margin-bottom: 0px;
}

.cart-item .description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* border: 2px solid rgb(195, 200, 201); */
  position: relative;
  /* background-color: #f3fcff; */
  width: 200px;
  height: 70px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.item-actions {
  position: absolute;
         top:0;
         right:15;

}


.cart-item-row.pull-down-row {
  display: none; /* hide the pull-down row by default */
}

.pull-down-button {

  /* height: 23px;
  position: absolute;

  margin: auto;
  background-color: #4caf50;
  border: none;
  font-size: 16px;
  font-style: bold;
  color: #666;
  cursor: pointer;
  justify-content: center; /* Note: This property has no effect on an absolutely positioned element */
  /* color: white; */

  padding: 6px 12px;
  width: 75px;
  height:50px;
  background-color: #4caf50;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  position: absolute;
  cursor: pointer;
  border-radius: 8px;
  left:92;
  top: 325;
}

.pull-down-button:hover {
  background-color: #208524;
}

.pull-down-button:active {
  background-color: #224e24;
  animation-name: button-click;
  animation-duration: 0.4s;
}

.hidden-options {
  position: relative; /* set position to relative */
  top: 1px; /* set top to the height of the pull-down row element + any additional margin */
  margin-top: 1px;;
  width: 262px;
  display: none; /* hide the hidden options container by default */
}

.hidden-options.show {
  display: block; /* show the hidden options container when it has the "show" class */
}
.size-options, .smoothie-options, .place-order-smoothie-options {
      transform: translateY(-50%);
      animation: slideDown 1s ease-in-out forwards;
      z-index: 0; /* position the options behind the cart item */
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 15px;
  background-color: #f8f8f8;
  object-fit: cover;
  display: flex; /* make the cart-item a flex container */
  flex-direction: column; /* align its children vertically */
  font-size: 12px;
  vertical-align: middle; /* align the radio buttons and checkboxes with the text */
}

.size-options label{
    padding: 4.5px;
    vertical-align: middle; /* align the radio buttons and checkboxes with the text */
}

.fruits-cart-edit label{
      padding: 4.5px;
      width: 100px;
      vertical-align: middle; /* align the radio buttons and checkboxes with the text */
}


.banana-checkbox{
    display: flex;
    flex: wrap;

}

.strawberry-checkbox{
    display: flex;
    flex: wrap;

}

.blueberry-checkbox{
    display: flex;
    flex: wrap;

}

.ingredient-checkbox{
  display: flex;
  flex: wrap;
  font-size:13px;
  padding:6;
  vertical-align: middle; /* align the radio buttons and checkboxes with the text */
  
}

.ingredient-options-quantity{
  position:absolute;
  padding:2px;
  width: 100px;
  right: 0;
  flex-direction: column;
  vertical-align:top; /* align the radio buttons and checkboxes with the text */
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #c7c6c6;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(59, 196, 63);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


.fruit-options-quantity{
    font-size: 0px;
}
.fruit-quantity-labels{
    text-align: right;
    font-size: 13px;
}
.ingredient-header{
  font-size: 10px;
}

@keyframes slideDown {
  from {
    transform: translateY(-180%);
  }
  to {
    transform: translateY(0);
  }
}

.item-actions button {
  background: #cfe0e8;
  border: none;
  padding: 5px 3px;
  border-radius: 10px;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 2s;
}

.item-actions button:hover,.item-actions button:active {
  background-color: #587e76;

}

.item-actions img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

@keyframes move-smoothie {
  0% {
    left: 0;
    top: 0;
  }
  100% {
    left: 50px;
    top: -50px;
  }
}

tbody {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}



.navbar-right {
  flex: 1;
  text-align: right;
}



.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 5px 2px 5px rgba(0.3, 0.3, 0, 0.3);
  }

  .total-price {
    font-size: 18px;
    font-weight: bold;
  }

  .place-order-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 5px;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
  }

  .go-to-cart-button {
    font-size: 18px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .save-changes-button {
    
    font-size: 16px;
    font-weight: bold;
    background-color: #4952cf;
    color: white;
    border: none;
    padding: 5px 0px;
    border-radius: 4px;
    width: 80px;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  
  .save-changes-button.show {
    display: block;
    opacity: 1;
  }
  
  .save-changes-button.hide {
    opacity: 0;
    display: none;
  }

  .save-changes-button.show.grow {
    transform: scale(1.2);
    transition: transform 0.7s;
  }

  .order-form {
      position: relative;
      padding: 30px;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
      animation: scaleUpAndDown 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .order-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .order-form form {
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    background-color: #f8f8f8;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    animation: scaleUpAndDown 0.5s ease-in-out;
    display: flex; /* make the cart-item a flex container */
    flex-direction: column; /* align its children vertically */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

  .order-form label {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .order-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .order-form button[type="submit"] {
              font-size: 18px;
              font-weight: bold;
              background-color: #4caf50;
              color: white;
              border: none;
              padding: 10px 20px;
              border-radius: 4px;
              cursor: pointer;
  }

  .order-form button[type="submit"]:hover {
    background-color: #555;
  }

  .order-form p {
    font-size: 18px;
    margin-top: 20px;
  }

  .order-summary {

        margin: 0 auto;
        text-align: center;
  }

  td {
    display: inline-block;
    vertical-align: top;
  }

  .categories {
    display: block
  }
  /* Set the width of the dropdown menu */
  .dropdown select {
  	width: 100%;
  }

  /* Set the width of the dropdown menu options */
  .dropdown option {
  	width: 100%;
  }

  /* Display the dropdown menu options as a block element */
  .dropdown select option {
  	display: block;
  }

  .categories-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 60px;

  }
  
  .category-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    width: 80px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

  }
  
  .category-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    background-color: #4caf50;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 75px;
    height:70px;
    font-weight:bold;
    color: white;
    font-size:15px;
  }
  
  .category-button:hover {
    background-color: #208524;
  }
  
  .smoothie-options-container {
    margin-top:4px;
    margin-left: 102px;

    justify-content: center;
  }
  .category-button.active {
    background-color: #224e24;
  }

  .smoothie-option {
    display: flex;
    justify-content: center;
  }

  table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }


  .place-order-smoothie-options{
    font-size: 12px;

    margin-top: 10px;
  }

  .place-order-ingredient-name{
    font-weight:bold;
  }

  .place-order-ingredient-header{
    font-size: 12px;
    margin-top:0px;
    font-weight:bold;
  }
  
  .order-history-btn {
    background-color: #4caf50;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 10px;
    width: 50px;
    height:30px;
    text-align: center;
    color: white !important;
}

.order-history-btn:hover {
  background-color: #208524;
}

.order-history-btnn.active {
  background-color: #224e24;
}


.order-table-container.hide {
  opacity: 0;
  display: none;
}

.order-table-container.show {
display: block;
opacity: 1;


}

.order-table{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-container{
  justify-content: center;
  text-align: center;
  
}

.orders-container {
  margin-top:70px;
  margin-right: 20px;
  justify-content: center;
  text-align: center;

}

.order-button {
  font-size: 18px;
  font-weight: bold;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom:10px;
  justify-content: center;
}

.order-button:hover {
  background-color: #208524;
}

.order-button.active {
  background-color: #224e24;
}

.apple-pay-button{
  margin-top: 0px;
  width: 150px;
  height: 150px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
.google-pay-button{
  margin-top: 0px;
  width: 120px;
  height: 50px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  
  
}

.order-number-container {

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.header{
  font-size: 25px;
  padding: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.protein-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.welcome-message{
  margin-top: 50px;
  margin-left: 120px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 0;
}
